{% extends 'shared/_MainLayout.html' %}
{% load static %}

{% block content %}
    <div id="contact-page" class="container">
        <div class="bg">

            <div class="row">
                <div class="col-sm-4">
                    <div class="contact-info">
                        <h2 class="title text-center">لوگـو شرکت</h2>
                        <img src="{{ setting.image.url }}" alt="{{ setting.title }}" class="img-responsive">
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="about">
                        <h2 class="title text-center">دربـاره ما</h2>
                        <p class="about-desc">
                           {{ setting.aboutus }}
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 about-address">
                    <address>
                        <p>{{ setting.title }}  | {{ setting.adress }}
                            -  | تلفن تماس : {{ setting.phone }} | ایمیـل : {{ setting.email }}
                        </p>
                    </address>
                </div>
            </div>

            <div class="row">
                <div class="container">
                   
                </div>
            </div>

        </div>
    </div>
{% endblock %}